#parent {
    position: relative;
}
img.superpose {
    position: absolute;
    top: 25px;
    left: 0px;
}

img.superposebis {
    position: absolute;
    top: 25px;
    left: 30px;
}
#img_1 {
    z-index: 10;
    left : 860px ; 
    bottom: 0px ; 
    top : 200px;
}
#img_2 {
    z-index: 11;
    left : 740px ; 
    bottom: 160px ; 
    top : 300px;
}

#img_3 {
    z-index: 11;
    left : 540px ; 
    bottom: 310px ; 
    top : 150px;
}

#img_4 {
    z-index: 11;
    left : 640px ; 
    bottom: 310px ; 
    top : 150px;
}

#img_5 {
    z-index: 11;
    left : 940px ; 
    bottom: 310px ; 
    top : 150px;
}

.container {
    position: relative; 


}

.container .caption {
    position: absolute;
    bottom: 400px;
    left: 400px;
}

#click {
    position: absolute;
    bottom: 120px;
    left: 400px;
}

.container .captionlog {
    position: absolute;
    bottom: 20px;
    left: 400px;
}